<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
	<head>
		<meta charset="UTF-8"/>
		<title th:text="${title}">this is home page</title>
	</head>
	<body>
		<section class="banner d-flex justify-content-center align-items-center">
		<div class="text-center">
		<h1 class="font-weight-bold">HAPPY BIRTHDAY CHICKEY</h1>
		<p class="font-weight-bold">We handle your contacts in a smarter and effiecient way</p>
		<button class="btn btn-lg bg-primary text-white">Get Started</button>
		</div>
			
			
		</section>
	
		
	
	</body>
	
	
	
	
</html>