<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">

<head>
	<meta charset="UTF-8" />
	<title>Change password form</title>
</head>

<body>
	<section>
		<div class="container mt-5">
			<div class="row">
				<div class="col-md-5 mx-auto">
					<div id="first">
				
                    <h3>Enter new Password</h3>
							<form th:action="@{/change-password}" method="post">
								<div class="form-group">
									
									
									<input name="newpassword" type="password" class="form-control" id="email"
										aria-describedby="emailHelp" placeholder="Enter new password" required>
								</div>

								<div class="container text-center">
									<button type="submit" class="btn btn-lg bg-primary mybtn text-white">Change Password
										OTP</button>
								</div>
							</form>
						</div>
					</div>

				</div>
			</div>
		</div>
	</section>
</body>

</html>